@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
/* Part 1, about me */
.Container1{
    transition: 0.5s ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: 100% -40vh  ;
    background-repeat: no-repeat;
    height:70vh;
    cursor: default;
}
.card1{
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    color: rgb(250, 250, 250);
    height: 30vh;
    width: 80vw;
    border-radius: 5vw;
}
.name{
    display: flex;
    flex-direction: column;

}
.about-me{
    font-size: large;
    white-space: initial;
    width: 300px;
    padding: 2px 5px;
}
.boy>img{
    width: 300px;
}
.Container1:hover{
    transition: 0.5s ;
    transform: scale(1.1);
    box-shadow: 0 0 100px;
}
/* Part 2 */